*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
body {
    
    background-color: #262239;
    
}
#line{
    text-align: left;
    color: rgb(160, 201, 216);
    font-size: large;
}
h1{
    text-align: center;
    color: rgb(230, 241, 245);
    border-bottom: lavender;
}
a:link {
    color: rgb(130, 226, 130);
    background-color: transparent;
    text-decoration: none;
  }
a:visited {
    color: pink;
    background-color: transparent;
    text-decoration: none;
  }
a:hover {
    color: rgb(241, 6, 84);
    background-color: transparent;
    text-decoration: underline;
  }
a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
  }
