*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
body{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 25%;
    background-color: rgb(54, 54, 92);
}