*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
body
{
	display: flex;
	justify-content: center;
	align-items: center;
	background: #16384c;
	
}
.container
{
	position: relative;
	width: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	padding: 100px;
}
.container .card
{
	position: relative;
	max-width: 500px;
	height: 250px;
	margin: 5rem;
	padding: 18px;
	background: #f0f4f7;
	display: flex;
	flex-direction: column;
	box-shadow: 0, 5px, 20px rgb(2, 1, 12);
	transition: 0.3s ease-in-out;
	
	
}
.container .card:hover
{
	height: 500px;
}

.container .card .imgBx
{
	position: relative;
	width: 400px;
	height: 260px;
	padding: 25px;
	top: -70px;
	left: 5px;
	z-index: 1;
}
.containe .card .imgBx .img
{
	max-width: 100%;
	border-radius: 4px;
		
}
.container .card .content
{
	position: relative;
	color: #111;
	top: -200px;
	padding: 25px;
	text-align: center;
	visibility: hidden;
	transition: 0.3s ease-in-out;

}
.container .card:hover .content
{
	visibility: visible;
	top: 10px;
	transition-delay: 0.3s;
}